body {
    background-color: #e7e9d6;
}

h1.title {
    text-align: center;
}

.site-main {
    width: 800px;
    margin: 0 auto;
    font: 20px "Verdana", sans-serif;
    line-height: 1.5em;
}

li {
    padding-bottom: 15px;
    text-indent: 20px;
}

code {
    font-style: italic;
    font-size: 22px;
    color:blue;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    padding: 0 6px;
}

i {
    color: blue;
}

strong span {
    color: red;
}

.m {
    color: red;
}

.u {
    color: rgb(47, 219, 47);
}

.mi {
    color: orange;
}

.footer {
    height: 50px;
}
